@charset "UTF-8";
body, html {
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 100%; }

.container {
  position: relative; }

.header {
  background-color: #F7E8E8;
  height: 50px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px; }

.footer {
  width: 960px;
  margin: 0 auto 30px auto; }
  .footer__text {
    text-align: center;
    font-size: 12px;
    margin: 0;
    font-weight: bold; }

/* Для календаря */
.ui-datepicker {
  font-size: 12px; }

.form__row {
  box-sizing: border-box;
  padding: 15px; }
  .form__row:after {
    content: '';
    display: block;
    clear: both; }
  .form__row_inline {
    float: left;
    padding: 0 15px 0 0; }
  .form__row_with-margin {
    margin-bottom: 30px; }

.form__label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block; }
  .form__label_inline {
    line-height: 40px;
    margin-bottom: 0; }

.form__col-left {
  position: relative;
  float: left;
  width: 100px;
  box-sizing: border-box;
  padding-right: 15px;
  text-align: right; }

.form__col-right {
  position: relative;
  float: left;
  width: 400px; }

.form__input {
  box-sizing: border-box;
  border: 1px solid #ddd;
  font-size: 13px;
  outline: none;
  width: 100%;
  height: 40px;
  padding: 0 5px; }
  .form__input_data {
    width: 200px;
    height: 30px; }
  .form__input_inline {
    float: left;
    width: auto; }

.form__button {
  border: none;
  color: #57799D;
  background-color: #F7E8E8;
  padding: 11px 10px;
  font-weight: bold;
  font-size: 13px;
  border-right: 1px solid #ddd; }
  .form__button:hover {
    cursor: pointer;
    background-color: #f0d5d5; }
  .form__button_inline {
    border-right: none;
    border-left: 1px solid #ddd; }
  .form__button_drop {
    float: right;
    border-right: none;
    color: red; }

.form__footer {
  border-top: 1px solid #ddd;
  background-color: #F7E8E8; }

.login-form {
  width: 530px;
  margin: 0 auto 30px auto;
  border: 1px solid #ddd; }

.menu {
  padding: 0 15px; }
  .menu:after {
    content: '';
    display: block;
    clear: both; }
  .menu__items {
    padding: 0;
    margin: 0;
    list-style: none; }
  .menu__item {
    line-height: 50px;
    float: left;
    margin-right: 15px; }
    .menu__item:last-child {
      margin-right: 0; }
    .menu__item_logout {
      float: right; }
  .menu__link {
    color: #57799D;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none; }
    .menu__link:hover {
      color: #45607c; }

.schedule {
  width: 900px;
  margin: 0 auto 30px auto;
  border: 1px solid #ddd;
  box-sizing: border-box; }
  .schedule__header {
    background-color: #F7E8E8;
    border-bottom: 1px solid #ddd;
    padding: 10px; }
    .schedule__header:after {
      content: '';
      display: block;
      clear: both; }
  .schedule__body {
    padding: 10px;
    box-sizing: border-box;
    text-align: center; }
    .schedule__body:after {
      content: '';
      display: block;
      clear: both; }
  .schedule__info {
    float: right;
    width: 450px; }

.info__row {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px; }
  .info__row:after {
    content: '';
    display: block;
    clear: both; }

.canvas-element {
  float: left; }

.breaks__link {
  font-size: 13px;
  color: #57799D;
  text-decoration: none;
  line-height: 40px; }

.subscribers-create {
  width: 530px;
  margin: 0 auto 30px auto;
  border: 1px solid #ddd; }

.subscribers-list {
  width: 600px;
  margin: 0 auto 30px auto;
  border: 1px solid #ddd; }
  .subscribers-list__link {
    padding: 10px;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #57799D;
    font-size: 14px; }
    .subscribers-list__link:hover {
      background-color: #f1f1f1; }
    .subscribers-list__link:link {
      color: #57799D; }

.subscribers-view {
  width: 600px;
  margin: 0 auto 30px auto;
  border: 1px solid #ddd; }

/*# sourceMappingURL=app.css.map */
