$header-bg-color: #F7E8E8;
$header-border-color: #ddd;

@import "mixins";

body, html {
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

.container {
  position: relative;
}

.header {
  background-color: $header-bg-color;
  height: 50px;
  border-bottom: 1px solid $header-border-color;
  margin-bottom: 50px;
}

.footer {
  width: 960px;
  margin: 0 auto 30px auto;
  &__text {
    text-align: center;
    font-size: 12px;
    margin: 0;
    font-weight: bold;
  }
}

/* Для календаря */
.ui-datepicker {
  font-size: 12px;
}

@import "form";
@import "login-form";

@import "menu";
@import "schedule";
@import "subscribers-create";
@import "subscribers-list";
@import "subscribers-view";
@import "breaks-create";
@import "breaks-list";