$f-border-color: #ddd;

.form {

  &__row {
    @include clearfix();
    box-sizing: border-box;
    padding: 15px;
  }

  &__label {
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
  }
  &__col-left {
    position: relative;
    float: left;
    width: 100px;
    box-sizing: border-box;
    padding-right: 15px;
    text-align: right;
  }
  &__col-right {
    position: relative;
    float: left;
    width: 400px;
  }

  &__input {
    box-sizing: border-box;
    border: 1px solid $f-border-color;
    font-size: 13px;
    outline: none;
    width: 100%;
    height: 40px;
    padding: 0 5px;
  }

  &__button {
    border: none;
    color: #57799D;
    background-color: #F7E8E8;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 14px;
    border-right: 1px solid #ddd;
    &:hover {
      cursor: pointer;
      background-color: darken(#F7E8E8, 5%);
    }
  }
  &__footer {
    border-top: 1px solid #ddd;
    background-color: #F7E8E8;
  }


}