.schedule {
  width: 900px;
  margin: 0 auto 30px auto;
  border: 1px solid #ddd;
  box-sizing: border-box;
  &__header {
    background-color: #F7E8E8;
    @include clearfix();
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }

  &__body {
    padding: 10px;
    box-sizing: border-box;
    @include clearfix();
  }

  &__info {
    float: right;
    width: 450px;
  }

}

.info__row {
  margin-top: 30px;
  margin-bottom: 30px;
  @include clearfix();
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}

.canvas-element {
  float: left;
}
.breaks__link {
  font-size: 13px;
  color: #57799D;
  text-decoration: none;
  line-height: 40px;
}

.chart {
  float: left;
  width: 450px;
  box-sizing: border-box;
  padding-right: 15px;
  border-right: 1px solid #ddd;
  text-align: center;
}
.breaks-inputs {
  float: right;
  width: 400px;
}


.multiple-charts {
  @include clearfix();
}

.subscriber-chart {
  width: 230px;
  height: 330px;
  box-sizing: border-box;
  padding: 15px;
  float: left;
  text-align: center;
  border: 1px solid #ddd;
  &__title {
    margin: 15px 0 0 0;
  }
}